body {
    text-align: center;
    font-size: 100%;
	background-image: url('https://chupacdn.s3.amazonaws.com/catalog/product/cache/1/thumbnail/1280x/17f82f742ffe127f42dca9de82fb58b1/6/-/6-vector-game-backgrounds-8003_imgs_8003.png');
}

h1 {
 font-family: 'Lobster', Georgia, Times, serif;
 font-size: 60px;
 background: linear-gradient(to right, 	#8B008B 0%, #0000CD 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
 height: 80px;
 margin-top: : 0px;
 margin-bottom: 0px;
}

 
h5{
	font-family: 'Lobster', Georgia, Times, serif;
	font-size: 25px;
	line-height: 0px;
	background: linear-gradient(to right, 	#8B008B 0%,#0000CD 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: inline;
}
h6{
	display: inline;
	font-family: 'Lobster', Georgia, Times, serif;
	font-size: 25px;
	background: linear-gradient(to right, 	#8B008B 0%, #0000CD 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.score{
	display: inline;
	padding-right: 40px;
}
.levels{
	display: inline;
}


